.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  text-align: center;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.slides-image{
	width: 100%;
	display: block;
	height: 700px;
}

.slider-control{
	position: absolute;
	width: 80px;
	height: 38px;
	z-index: 10;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	top: 45%;
	cursor: pointer;
	background-color: rgba(0,0,0,0.8);
}
.right{
	right: 0;
}
.left{
	left: 0;
}
.glyphicon-chevron-left{
	display: inline-block;
	line-height: 25px;
	height: 25px;
}
.glyphicon-chevron-right{
	display: inline-block;
	line-height: 25px;
	height: 25px;
}